.sidebar {
    width: 18%;
    min-height: 100vh;
<<<<<<< HEAD
    background-color: #292828;
    /* Black background */
    border-right: 1.5px solid #00bfa5;
    /* Teal border */
=======
    background-color: #f0f4f4;
    /* Light teal background */
    border-right: 1.5px solid #004d4d;
    /* Dark teal border */
>>>>>>> b71c288350e0769b1de5224297ecc13d9c6bc3ab
    padding: 20px 0;
}

.sidebar-options {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 10px;
<<<<<<< HEAD
    border-radius: 3px 0 0 3px;
    color: #00bfa5;
    /* Teal text */
=======
    border-radius: 3px 0px 0px 3px;
    color: #004d4d;
    /* Dark teal text */
>>>>>>> b71c288350e0769b1de5224297ecc13d9c6bc3ab
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.sidebar-option img {
    width: 20px;
}

.sidebar-option p {
    margin: 0;
}

.sidebar-option:hover,
.sidebar-option.active {
<<<<<<< HEAD
    background-color: #00bfa5;
    /* Teal background */
    color: #000;
    /* Black text */
=======
    background-color:#292828;
    /* Dark teal background */
    color: #f0f4f4;
    /* Light teal text */
>>>>>>> b71c288350e0769b1de5224297ecc13d9c6bc3ab
}

.sidebar-option:hover img,
.sidebar-option.active img {
    filter: brightness(0) invert(1);
    /* Invert icon colors */
}

@media (max-width: 900px) {
    .sidebar-option p {
        display: none;
    }
}